<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="monoandroid70" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.1.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="monoandroid70" />
  <package id="SQLiteNetExtensions-MvvmCross" version="1.2.5" targetFramework="monoandroid70" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="monoandroid70" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="monoandroid70" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Controls.SignaturePad" version="1.4.0" targetFramework="monoandroid70" />
</packages>